:root {
  --Color-primary: #fd377e;
  --Color-primary-2: #e34981;
  --Color-Secondary: #03b898;

  --Gray-1: #f8f9fa;
  --Gray-2: #e9ecef;
  --Gray-3: #868e96;
  --Gray-4: #212529;

  --font-family: "Nunito", sans-serif;
}
